.admin-dashboard {
  display: flex;
}


.main-content {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
}

/* Toggle button */
.sidebar button {
  background-color: #495057;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.sidebar button:hover {
  background-color: #6c757d;
}
